$background: #faeee7;
$main: #fffffe;
$button: #ff8ba7;
$secondary: #ffc6c7;
$tertiary: #c3f0ca;
$icon: #a8a8a8;
$large-text: #33272a;
$p-text: #594a4e;
$shadow: 2px 2px 11px -2px rgba(0, 0, 0, 0.151);

:root {
  font-family: Segoe UI, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $p-text;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 1rem;
  min-width: 320px;
  min-height: 100vh;
  background: $background;
  // overflow: hidden;
  // border: 1px solid red;
}

header {
  display: flex;
  justify-content: space-between;
  color: $large-text;
  background: $background;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: $button;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    color: $main;

    &:hover {
      background: $tertiary;
    }

    i {
      margin: 0;
    }
  }

  h1 {
    margin: 0;
  }

  i {
    margin-right: 1rem;
  }
}

.side-main {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  main {
    flex: 1 1 70%;
    min-width: 25ch;
    background: $main;
    border-radius: 1rem;
    box-shadow: $shadow;

    h1 {
      color: $large-text;
      margin: 0;
    }

    h2 {
      font-weight: 600;
      color: $large-text;
    }

    hr {
      border: 0;
      height: 1px;
      background-color: lightgray;
      margin: 1rem 0;
    }
  }

  aside {
    flex: 1 1 20%;
    min-width: 25ch;
    background: $main;
    border-radius: 1rem;
    box-shadow: $shadow;
  }
}

header,
main,
aside {
  padding: 2rem 1.5rem;
}

.main-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-title {
  font-size: 1.2rem;
  margin-top: 3rem;

  hr {
    border: 0;
    height: 1px;
    background-color: lightgray;
    margin: 1rem 0;
  }
}

.project-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-btn {
  padding: 0.5rem 1rem;
  text-align: left;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  background-color: transparent;
  font-family: Segoe UI, Arial, sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  transition: 100ms ease;

  i {
    font-size: 1.3rem;
    margin-right: 1rem;
    color: $icon;
    transition: 300ms ease;
  }

  &:hover {
    color: $button;
    border: 1px solid $button;
  }
}

.sidebar-btn:hover i {
  color: $button;
}

.active {
  background-color: $button;
  color: #fff;

  i {
    color: #fff;
  }
}

.sidebar-btn:hover.active {
  color: #fff;

  i {
    color: #fff;
  }
}

.todo-card {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: $shadow;
  padding: 1rem;
  margin-bottom: 1rem;
}
